{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
      <h1 class="display-4 mb-4">Games</h1>
  </div>
</div>
<div class="row">
  {% for game in games %}
  <div class="col-md-12">
    <div class="card m-2">
      <div class="card-body">
        {{ game.name }}
        <div class="article-metadata">
          <small class="text-muted mr-2"><strong>Creator</strong>: {{ game.user.username }}</small>
          <small class="text-muted mr-2"><strong>Created At</strong>: {{ game.created_at.strftime('%Y-%m-%d') }}</small>
          <small class="text-muted"><strong>Updated At</strong>: {{ game.updated_at.strftime('%Y-%m-%d') }}</small>
        </div>
        <div class="mt-2">
          <div class="float-right">
            <button type="button" class="btn btn-primary">Play game</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}