{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1 class="mt-4 text-md-center page-title">
      {% if mode == 'create' %}
        Create New
      {% else %}
        Edit
      {% endif %}
      Question in <a href="{{ url_for('my_quiz_detail', quiz_id=quiz.id)}}">{{ quiz.name }}</a>
    </h1>
  </div>
  <div class="col-md-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('home')}}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{url_for('my_quiz')}}">My Quizzes</a></li>
        <li class="breadcrumb-item"><a href="{{url_for('my_quiz_detail', quiz_id=quiz.id)}}">{{ quiz.name }}</a></li>
        {% if mode == 'create' %}
          <li class="breadcrumb-item active" aria-current="page">Create</li>
        {% else %}
          <li class="breadcrumb-item active" aria-current="page">Edit</li>
        {% endif %}
      </ol>
    </nav>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        {{ form.question.label(class="form-control-label") }}
        {% if form.question.errors %}
            {{ form.question(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.question.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.question(class="form-control form-control-lg") }}
        {% endif %}
      </fieldset>
      <div class="form-row">
        <div class="col">
          <fieldset class="form-group">
            {{ form.choice_1.label(class="form-control-label") }}
            {% if form.choice_1.errors %}
                {{ form.choice_1(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.choice_1.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.choice_1(class="form-control form-control-lg") }}
            {% endif %}
            <div class="custom-control custom-checkbox">
              {% if form.correct_answer_1.errors %}
                {{ form.correct_answer_1(class="custom-control-input is-invalid") }}
              {% else %}
                {{ form.correct_answer_1(class="custom-control-input") }}
              {% endif %}
              {{ form.correct_answer_1.label(class="custom-control-label") }}
              {% if form.correct_answer_1.errors %}
                <div class="invalid-feedback">
                  {% for error in form.correct_answer_1.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </fieldset>
        </div>
        <div class="col">
          <fieldset class="form-group">
            {{ form.choice_2.label(class="form-control-label") }}
            {% if form.choice_2.errors %}
                {{ form.choice_2(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.choice_2.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.choice_2(class="form-control form-control-lg") }}
            {% endif %}
            <div class="custom-control custom-checkbox">
              {% if form.correct_answer_2.errors %}
                {{ form.correct_answer_2(class="custom-control-input is-invalid") }}
              {% else %}
                {{ form.correct_answer_2(class="custom-control-input") }}
              {% endif %}
              {{ form.correct_answer_2.label(class="custom-control-label") }}
              {% if form.correct_answer_2.errors %}
                <div class="invalid-feedback">
                  {% for error in form.correct_answer_2.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </fieldset>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <fieldset class="form-group">
            {{ form.choice_3.label(class="form-control-label") }}
            {% if form.choice_3.errors %}
                {{ form.choice_3(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.choice_3.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.choice_3(class="form-control form-control-lg") }}
            {% endif %}
            <div class="custom-control custom-checkbox">
              {% if form.correct_answer_3.errors %}
                {{ form.correct_answer_3(class="custom-control-input is-invalid") }}
              {% else %}
                {{ form.correct_answer_3(class="custom-control-input") }}
              {% endif %}
              {{ form.correct_answer_3.label(class="custom-control-label") }}
              {% if form.correct_answer_3.error3 %}
                <div class="invalid-feedback">
                  {% for error in form.correct_answer_3.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </fieldset>
        </div>
        <div class="col">
          <fieldset class="form-group">
            {{ form.choice_4.label(class="form-control-label") }}
            {% if form.choice_4.errors %}
                {{ form.choice_4(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.choice_4.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.choice_4(class="form-control form-control-lg") }}
            {% endif %}
            <div class="custom-control custom-checkbox">
              {% if form.correct_answer_4.errors %}
                {{ form.correct_answer_4(class="custom-control-input is-invalid") }}
              {% else %}
                {{ form.correct_answer_4(class="custom-control-input") }}
              {% endif %}
              {{ form.correct_answer_4.label(class="custom-control-label") }}
              {% if form.correct_answer_4.errors %}
                <div class="invalid-feedback">
                  {% for error in form.correct_answer_4.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </fieldset>
        </div>
      </div>
      <fieldset class="form-group">
        {{ form.time_limit.label(class="form-control-label") }}
        {% if form.time_limit.errors %}
            {{ form.time_limit(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.time_limit.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.time_limit(class="form-control form-control-lg") }}
        {% endif %}
      </fieldset>
      <div class="form-group">
        {% if mode == 'create' %}
          {{ form.submit(class="btn btn-primary btn-block") }}
        {% else %}
          {{ form.submit(class="btn btn-edit btn-block") }}
        {% endif %}
        
      </div>
    </form>
  </div>
</div>
{% endblock content %}