{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1 class="mt-4 text-md-center page-title">New Quiz</h1>
  </div>
  <div class="col-md-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('home')}}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">New Quiz</li>
      </ol>
    </nav>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        {{ form.name.label(class="form-control-label") }}
        {% if form.name.errors %}
            {{ form.name(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.name.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.name(class="form-control form-control-lg") }}
        {% endif %}
      </fieldset>
      <fieldset class="form-group">
        {{ form.description.label(class="form-control-label") }}
        {% if form.description.errors %}
            {{ form.description(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.description.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.description(class="form-control form-control-lg") }}
        {% endif %}
      </fieldset>
      <div class="form-group text-md-right">
        {{ form.submit(class="btn btn-block btn-primary") }}
      </div>
    </form>
  </div>
</div>
{% endblock content %}