{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1 class="display-4 mb-4">New Quiz</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        {{ form.name.label(class="form-control-label") }}
        {% if form.name.errors %}
            {{ form.name(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.name.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.name(class="form-control form-control-lg") }}
        {% endif %}
      </fieldset>
      <fieldset class="form-group">
        {{ form.description.label(class="form-control-label") }}
        {% if form.description.errors %}
            {{ form.description(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.description.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.description(class="form-control form-control-lg") }}
        {% endif %}
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>
  </div>
</div>
{% endblock content %}